a {text-decoration: none; color: white;}
a:visited{color: white;}
a:hover{color: skyblue; font-size: 1.2em;}

.section {
  overflow: hidden;
}

#video {
  position:absolute;
  right:0;
  bottom:0;
  top:0;
  right:0;
  height:100%;
  width:100%;
  background-size: 100% 100%;
  background-position: center center;
  background-size: contain;
  object-fit: cover;
  z-index: 3;
}

#section0 {
  overflow: hidden;
}

#section0 .layer{
  position: absolute;
  z-index: 4;
  width: 100%;
  left: 10%;
  top: 10%;
}

.layer p {
  position: relative;
  font-size: 3.5em;
  font-weight: bold;
  text-align: center;
  right:10%;
  /* color: white; */
}

h2{
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 1px #fff,
             -2px 2px 1px #fff,
             2px -2px 1px #fff,
             -2px -2px 1px #fff;
}
#section0 .about{
  position: absolute;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  filter: blur();
  padding-left: 10px;
  padding-right: 10px;
  width: 56%;
  height: 40%;
  right: 5%;
  bottom: 22%;
  min-width: 800px;
}

.about h1 {
  text-align: center;
}

.about p {
  font-size: 1.7em;
}

.slide{
  /* background: skyblue; */
  height: 100%;
  position: relative;
}

/* -------------------> web <-------------------- */
#Web{
  position: relative;
  background: url("../img/Web.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
}

.web{
  /* text-align: center; */
  background: rgba(247, 255, 130, 0.89);
  border-radius: 5px;
  margin: 5%;
  height: 80%;
  /* padding-bottom:100px; */
  margin-bottom: 15%;
  padding: 10px 70px 0 70px;
}

#web1 p{
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 5px;
  line-height: 45px;
}
/* -------------------> web <-------------------- */

/* -------------------> ゲーム開発 <-------------------- */
#Game{
  position: relative;
  background: url("../img/gameDev.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  /* opacity: 0.6; */
}

.game{
  /* text-align: center; */
  background: rgba(160, 255, 234, 0.767);
  border-radius: 5px;
  margin: 5%;
  height: 80%;
  /* padding-bottom:100px; */
  margin-bottom: 15%;
  padding: 10px 70px 0 70px;
}

.game h3{
  font-size: 45px;
  margin-top: 30px;
}

.game p{
  font-size: 30px;
}

/* -------------------> ゲーム開発 <-------------------- */

/* -------------------> 映像 <-------------------- */
#Movie{
  position: relative;
  background: url("../img/movie.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  /* opacity: 0.6; */
}

.movie{
  /* text-align: center; */
  background: rgba(3, 3, 131, 0.301);
  border-radius: 5px;
  margin: 5%;
  height: 80%;
  /* padding-bottom:100px; */
  margin-bottom: 15%;
  padding: 10px 70px 0 70px;
}

.movie h3{
  font-size: 45px;
  margin-top: 30px;
}

.movie p{
  font-size: 30px;
}

/* -------------------> 映像 <-------------------- */

/* -------------------> モデリング <-------------------- */
#Model{
  position: relative;
  background: url("../img/model.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  /* opacity: 0.6; */
}

.model{
  text-align: center;
  background: rgba(180, 255, 180, 0.8);
  border-radius: 5px;
  margin: 5%;
  height: 80%;
  /* padding-bottom:100px; */
  margin-bottom: 15%;
}
/* -------------------> モデリング <-------------------- */

/* -------------------> プログラミング <-------------------- */
#Program{
  position: relative;
  background: url("../img/program.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  /* opacity: 0.6; */
}

.program{
  /* text-align: center; */
  background: rgba(255, 255, 100, 0.8);
  border-radius: 5px;
  margin: 0 5% 5% 5%;
  height: 80%;
  /* padding-bottom:100px; */
  margin-bottom: 15%;
  padding: 40px 70px 0 70px;
}

#program1{
  /* text-align: center; */
  background: rgba(255, 255, 100, 0.8);
  border-radius: 5px;
  margin: 0 5% 5% 5%;
  height: 80%;
  /* padding-bottom:100px; */
  margin-bottom: 15%;
  padding: 40px 70px 0 70px;
}

.program{
  /* text-align: center; */
  background: rgba(255, 255, 100, 0.8);
  border-radius: 5px;
  margin: 5% 5% 0 5%;
  height: 80%;
  /* padding-bottom:100px; */
  margin-bottom: 15%;
  padding: 40px 70px 0 70px;
}

.program h3{
  font-size: 45px;
  margin-top: 30px;
}

.program p{
  font-size: 25px;
  line-height: 40px;
}
/* -------------------> プログラミング <-------------------- */

/* -------------------> 詳細 <-------------------- */
#Detail{
  position: relative;
  background-image: url("../img/csgbg.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  /* opacity: 0.6; */
}


#detail1{
  position: relative;
  text-align: center;
  background-image: url("../img/new_Densan_position.png");
  background-size: 700px;
  background-position-x: right;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-color: rgba(242, 238, 211, 0.8);
  /* background: rgba(242, 238, 211, 0.8); */
  border-radius: 5px;
  margin: 5%;
  height: 80%;
  /* padding-bottom:100px; */
  margin-bottom: 15%;
}

/* -------------------> 詳細 <-------------------- */
